$color_1: green;
$color_2: red;
$color_3: #103558;
$color_4: white;
$background-color_1: white;
$background-color_2: #103558;
$background-color_3: transparent;

body {
	height: 100vh;
	width: 100vw;
}
#thanks {
	color: $color_1;
	font-size: small;
}
#pname {
	display: none;
	color: $color_2;
	font-size: x-small;
}
#pemail {
	display: none;
	color: $color_2;
	font-size: x-small;
}

#callToAction {
	-webkit-user-drag: none;
	user-select: none;
	font-size: 1.3vw;
	width: 55vw;
	min-height: 60vh;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	border-radius: 10px;
	color: $color_3;
	box-shadow: 0px 50px 100px grey;
	border-radius: 10px;
}
.popupclosebtn {
	justify-self: right;
	position: absolute;
	right: 0;
	background-color: $background-color_1;
	border: none;
	border-radius: 10px;
	margin: 8px;
	margin-right: 13px;
}
.popup {
	background-color: $background-color_1;
	display: flex;
	flex-wrap: nowrap;
	border-radius: 10px;
}
.imgcont {
	width: 45%;
	min-height: 60vh;
	background-image: url("https://img.freepik.com/free-photo/ai-nuclear-energy-future-innovation-disruptive-technology_53876-129784.jpg?w=826&t=st=1681704443~exp=1681705043~hmac=f579e4b32c2750dae09c1c953d412c04d37c6f4b822fe684239348e36cab6fd7");
	background-size: cover;
	background-position: center;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
.alert {
	width: 55%;
	padding: 30px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.inputs {
	width: 100%;
	height: 40px;
	padding-left: 10px;
	outline: none;
}
#readybtn {
	width: 100%;
	height: 40px;
	background-color: $background-color_2;
	color: $color_4;
}
.paras {
	font-size: small;
}
@media screen and (max-width:923px) {
	#callToAction {
		width: 70vw;
	}
}
@media screen and (max-width:746px) {
	#callToAction {
		width: 80vw;
	}
}
@media screen and (max-width:667px) {
	#callToAction {
		font-size: medium;
		color: $color_3;
		width: 80%;
		max-height: 0px;
	}
	.imgcont {
		width: 0%;
		height: 0%;
	}
	.alert {
		width: 100%;
		height: auto;
		padding: 20px;
		background-image: url("https://img.freepik.com/free-photo/ai-chip-intelligence-technology-deep-learning_53876-143122.jpg?w=1380&t=st=1681584515~exp=1681585115~hmac=723ea05a23fd2229ec422545c4cf30f59a82e0a49de246e9f0441f26c5bd23af");
		background-size: cover;
		background-position: bottom;
		border-radius: 10px;
	}
	.inputs {
		width: 90%;
		opacity: 80%;
	}
	#readybtn {
		width: 93%;
		opacity: 80%;
	}
	.popupclosebtn {
		background-color: $background-color_3;
		// margin-right: -30px;
	}
	.paras {
		font-weight: bold;
		font-size: small;
	}
}
